:root {
    --primary-color: #00704A;
}

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    background: white;
}

.btn {
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    padding: 0.5em 1em;
    margin-right: 0.5rem;
}

.clickable {
    cursor: pointer;
}

.login-btn {
    border-color: var(--primary-color);
    background-color: white;
    color: var(--primary-color);
}

.join-btn {
    border-color: white;
    background-color: var(--primary-color);
    color: white;
}

h1 {
    letter-spacing: 0.2em;
}

p {
    letter-spacing: 0.1em;
}

/* header */
.fixed-header {
    z-index: 2;
    position: -webkit-sticky; /*safari*/
    position: sticky;
    top: 0;
    width: 100vw;
    background: white;
    padding: 1.5em;
}

.fixed-header p {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 1em;
}

/* slideshow */
.slideshow {
    position: relative;
    width: 100%;
}

.slideshow .slide {
    display: none;
}

.slideshow .slide.active {
    display: inline-block;
}

.slideshow a {
    font-size: 1.7rem;
}

.slideshow a:hover {
    cursor: pointer;
}

.slideshow img {
    width: 100%;
    object-fit: cover;
}

.slideshow .slide-text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    color: black;
    text-align: center;
    padding: 20px;
}

.slideshow .slide-text:visited {
    color: black;
}

.slideshow .slide-text h1 {
    font-size: 1.0em;
    text-transform: uppercase;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.slideshow .slide-text p {
    font-size: 0.6em;
    line-height: 1.3em;
    width: 80%;
    margin: 0.5em auto;
}

.slideshow .slide-btn-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: inline-block;
    align-items: center;
}

.slideshow .slide-btn-wrapper .slide-btn {
    color: #555;
    background: none;
    outline: none;
    border: none;
    margin: 0px 15px;
}

.slideshow .slide-btn-wrapper .slide-btn i {
    opacity: 0.6;
}

.slideshow .slide-btn-wrapper #prev-btn {
    float: left;
}

.slideshow .slide-btn-wrapper #next-btn {
    float: right;
}

.slideshow .bullet-wrapper {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    font-size: 0.5rem;
}

.slideshow .slide-btn-wrapper .slide-btn i,
.slideshow .bullet-wrapper i {
    opacity: 0.6;
}

.slideshow .bullet-wrapper .dark {
    color: #222;
}

/* card-grid */
.card-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    background: rgb(245, 245, 245);
    padding: 25px 20px;
}

.card-grid img {
    box-shadow: 1px 1px 3px 0px #999, -1px 1px 3px 0px #999;
    width: 100%;
}

/* footer */
.footer {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    margin: 3rem auto;
}

.footer .footer-text h1 {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0;
    font-size: 1.0em;
    color: var(--primary-color);
}

.footer .footer-text p {
    font-size: 0.6em;
    line-height: 1.4em;
    width: 80%;
    margin: 1.2em auto 1.7em;
}

.footer .footer-logo {
    margin: 50px 0;
}

.footer .footer-logo img {
    height: 120px;
}

/* menu */

/* mobile menu */
#mobile-menu {
    position: fixed;
    bottom: 0;  
    background: white;
}

.mobile-menu-wrapper {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    color: #555;
    padding: 15px 0;
    border-top: 1pt solid rgb(214, 214, 214);
}

.mobile-menu-wrapper a {
    font-size: 0.7rem;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.mobile-menu-wrapper .icon.active {
    color:var(--primary-color);
}

.mobile-menu-wrapper .icon p {
    margin-top: 0.5rem;
}

.mobile-menu-wrapper a:visited {
    color: #555;
}

.mobile-menu-wrapper .icon.active a:visited {
    color:var(--primary-color);
}

@media(min-width: 700px) {
    .btn {
        font-size: 1.0rem;
    }

    .fixed-header p {
        font-size: 1.5rem;
    }

    .slideshow .slide-text {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        color: black;
        text-align: center;
        padding: 20px;
    }
    
    .slideshow .slide-text:visited {
        color: black;
    }
    
    .slideshow .slide-text h1 {
        font-size: 1.0em;
        text-transform: uppercase;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .slideshow .slide-text p {
        font-size: 0.6em;
        line-height: 1.3em;
        width: 80%;
        margin: 0.5em auto;
    }

    .card-grid {
        grid-template-rows: none; 
        grid-template-columns: repeat(3, 1fr);
    }

    .footer {
        max-width: 55%;
        flex-direction: row;
        text-align: left;
        font-size: 1.7rem;
    }

    .footer .footer-text p {
        margin: 1.2em 0 1.7em;
    }
    

    

    #mobile-menu {
        display: none;
    }
}